html{
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #1e293b;
}

.container{
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.header-site{
    background-color: #0f172a;
    color: #efe8f0;
    padding: 0;
    margin: 0;
    display: flex;
}

.branding{
    margin: 0;
    padding: 1rem;
}

.nav-site{
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-button{
    width: auto;
    min-width: 4rem;
    max-width: 15rem;
    display: block;
    border-bottom: 3px solid #64748b;
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
}

.nav-button:hover{
    background-color: #1e293b;
    border-bottom: 3px solid #f1f5f9;
}

.header-content{
    background-color: #e2e8f0;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #0f172a;
}

.header-content h2{
    font-size: 2rem;
    font-weight: bold;
}

.content{
    padding: 1rem;
    background-color: #f8fafc;
}

.content p{
    margin: 1rem 0;
}

.content p:first-child{
    margin-top: 0;
}